.card{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

.card_details{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.card_details_labels{
    flex: 1;
    display: flex;
    gap: 1rem;
}

.card_subtitle{
    margin-bottom: 0;
}

.card_details svg{
    opacity: 0;
    transition: 200ms;
    cursor: pointer;
}

.card:hover .card_details svg{
    opacity: 1;
}

.footer_svg{
    font-size: 1.2rem;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}

.footer-subdesc{
    margin-top: 0;
}

.card_top_option{
    position: relative;
}

.card_dropdown{
    background-color: #fff;
    width: 9rem;
    border-radius: 0.3rem;
    box-shadow: 1px 0 20px rgb(0, 0, 0,0.05);
    cursor: pointer;
  
}

.card_dropdown_action{
    font-size: 1.3rem;
    text-align: center;
    color: gray;
}